img{
    display: block;
    margin: 80px auto;
}
fieldset{
    width: 300px;
    margin: auto;
    color: green;
    border: 0;
}
a{
    
    color: green;
}
input{
    width: 90%;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: green;
    border-width: 0;
    border-bottom-width: 3px;
}
input:focus {
  outline: none;
}
label{
    margin-left: 10px;
}
a{
    margin-left: 80px;
}
button{
    width: 90%;
    margin-left: 15px;
    margin-top: 20px;
    height: 30px;
    background-color: green;
    color: #fff;
    border: 0;
    border-radius: 3px;
}